extends layout

block title
  | - Welcome

block appID
  - var appID = 'author'

//-block topspacer

block app
  .page
    .container
      article
        h1=author.getText('autore.name')
        h3=author.getText('autore.role')
        
        if author.get('autore.profilePic').main
          img(src=author.get('autore.profilePic').main.url)

        .bio!=author.getStructuredText('autore.biography').asHtml(ctx.linkResolver)


        if author.getLink('autore.linkedin')
          =author.getLink('autore.linkedin').url(ctx.linkResolver)

        .spacer-10

        if author.getLink('autore.twitter')
          =author.getLink('autore.twitter').url(ctx.linkResolver)

        .spacer-10

        if author.getLink('autore.blog')
          =author.getLink('autore.blog').url(ctx.linkResolver)

        .spacer-10

        if author.getText('autore.email')
          =author.getText('autore.email')

        .spacer-10

        if author.getText('autore.phone')
          =author.getText('autore.phone')
        
        //-pre=JSON.stringify(author, null, 2)

      #posts
        h1 last posts
        pre=JSON.stringify(posts, null, 2)