extends layout

block title
  | #{author.getText('autore.name')} - Human Capital and More - GSO Company

block appID
  - var appID = 'author'
  
block afterhead
  meta(property='og:title', content=author.getText('autore.name') + ' - Human Capital and More - GSO Company')
  meta(property='og:description', content=author.getText('autore.biography'))
  meta(property='og:image', content=author.get('autore.profilePic').views.profile.url || '')

block topspacer
  if author.get('autore.profilePic')
    - var pic = author.get('autore.profilePic').main.url
    .page.page-full-image#author-pic(style='background-image: url("#{pic}"); height: 800px;')
      
  else
    .spacer-190

block app
  #author.page
    .container.post-container
      article.text-center
        .spacer-60
      
        h1=author.getText('autore.name')
        h5=author.getText('autore.role')
        
        .spacer-20
        
      article.text-justify
        .post!=author.getStructuredText('autore.biography').asHtml(ctx.linkResolver)
        
        .spacer-80

  #author-meta.page
    .pure-g
      - var social = 0;
      if author.getLink('autore.linkedin')
        - social += 1;
      if author.getLink('autore.twitter')
        - social += 1;
      if author.getLink('autore.blog')
        - social += 1;
      if author.getText('autore.email')
        - social += 1;
      //-if author.getText('autore.phone')
        - social += 1;
      
      if author.getLink('autore.linkedin')
        .pure-u-1(class='pure-u-md-1-' + social)
          a.author-meta.author-linkedin(href=author.getLink('autore.linkedin').url(ctx.linkResolver), target='_blank')
            span
              i.icon.icon-linkedin

      if author.getLink('autore.twitter')
        .pure-u-1(class='pure-u-md-1-' + social)
          a.author-meta.author-twitter(href=author.getLink('autore.twitter').url(ctx.linkResolver), target='_blank')
            span
              i.icon.icon-twitter

      if author.getLink('autore.blog')
        .pure-u-1(class='pure-u-md-1-' + social)
          a.author-meta.author-blog(href=author.getLink('autore.blog').url(ctx.linkResolver), target='_blank')
            span
              i.icon.icon-bookmarks

      if author.getText('autore.email')
        .pure-u-1(class='pure-u-md-1-' + social)
          a.author-meta.author-email(href='mailto:' + author.getText('autore.email'))
            span
              i.icon.icon-paper-plane

      //-if author.getText('autore.phone')
        .pure-u-1(class='pure-u-md-1-' + social)
          .author-meta.author-phone
            div
              =author.getText('autore.phone')
  
  if posts.length > 0

    .spacer-100

    #lasts.page
      .container.text-center
        h2 Di questo autore ti potrebbe interessare...
        .spacer-40

        .pure-g
          each post in posts
            .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
              +printPost('authorLatests', post)
  
  .spacer-60
