extends layout

block title
  | - Welcome

block appID
  - var appID = 'author'

//-block topspacer

block app
  .page
    .container
      article
        h1=author.getText('autore.name')
        h3=author.getText('autore.role')
        
        if author.get('autore.profilePic').main
          img(src=author.get('autore.profilePic').main.url)

        .bio!=author.getStructuredText('autore.biography').asHtml(ctx.linkResolver)


        if author.getLink('autore.linkedin')
          =author.getLink('autore.linkedin').url(ctx.linkResolver)

        .spacer-10

        if author.getLink('autore.twitter')
          =author.getLink('autore.twitter').url(ctx.linkResolver)

        .spacer-10

        if author.getLink('autore.blog')
          =author.getLink('autore.blog').url(ctx.linkResolver)

        .spacer-10

        if author.getText('autore.email')
          =author.getText('autore.email')

        .spacer-10

        if author.getText('autore.phone')
          =author.getText('autore.phone')
  

  .spacer-100

  #lasts.page
    .container.text-center
      h2 Articoli di 
        strong #{author.getText('autore.name')}
      .spacer-40

      .pure-g
        each post in posts
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            +printPost('authorLatests', post)
