doctype html
html
  head
    title Human Capital and More  
      block title 
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css')
    link(rel='stylesheet', href='/css/loaders.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/img/favicon.png', type='image/png')
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='//use.typekit.net/iqx5wxc.js')
    script.
      try{Typekit.load();}catch(e){}
    
    block afterhead

  body

    include ./mixins/print-post.jade
    include ./mixins/print-author.jade
    include ./mixins/print-category.jade

  
    .loader
      .loader-inner.line-scale-pulse-out-rapid
        div
        div
        div
        div
        div
    
    menu#mobile
      a.gso-hcam-logo(href='/', title='Vai alla pagina iniziale del Blog')
        img(src='/img/gso-hcam-logo-mobile.png', alt='Human Capital and More', width='50', height='50')
  
    header
      .header-inner
        .pull-left
          a.gso-hcam-logo(href='/', title='Vai alla pagina iniziale del Blog')
            img(src='/img/gso-hcam-logo.png', alt='Human Capital and More', width='90', height='90')
          menu
            ul
              li: a(href='/authors/') Autori
              each cat in categories
                li: a(href='/category/#{cat.slug}/#{cat.id}/') #{cat.titolo}

        .pull-right.text-right
        
          //- Search Handler
          
          form.pure-form#search-form(action='/search', method='GET')
            #search-container
              input#search-terms(type='text', name='q', value='')
              button.pure-button.search-button(type='submit')
                i.icon-magnifying-glass
            button.pure-button.search-button#search-toggle(type='button')
              i.icon-magnifying-glass
              
            script.
              $(function () {
                $('#search-form').on('submit', function (e) {
                  if ($('#search-terms').val().trim() == '') {
                    e.preventDefault();
                    e.stopPropagation();
                    return;
                  }
                  
                  setTimeout(function () {
                    $('#search-terms').val('');
                  }, 100);
                });
                
                $('#search-toggle').on('click', function (e) {
                  $('#search-toggle').css('display', 'none');
                  $('#search-container').css('display', 'block');
                  $('#search-terms').trigger('focus');
                  
                  e.preventDefault();
                });
                
                $('#search-terms').on('blur', function () {
                  setTimeout(function () {
                    $('#search-toggle').css('display', 'block');
                    $('#search-container').css('display', 'none');
                  }, 100);
                });
              });

    block appID
      - var appID = 'default'

    section.app(id=appID)
    
      block topspacer
        .spacer-190
        
      block app
      
      block scripts
     
    footer
      .footer-inner
        .pure-g
          .pure-u-1.pure-u-md-6-24
            .company-profile
              img(src='/img/gso-company-footer.png', alt='GSO Company', width='85', height='37')
              .spacer-20
              :markdown
                **GSO Company Spa**  
                Piazza L. V. Bertarelli 1, 20122 Milano  
                Phone **+39 02 864 53 572**  
                Email **[gsomilano@gso.it](mailto:gsomilano@gso.it)**  
                P.IVA / C.F. **08200500968**  

          .pure-u-1.pure-u-md-18-24
            .pure-g

              each cat in categories
                .pure-u-1-3.pure-u-xl-1-6
                  ul.footer-menu
                    li: a(href='/category/#{cat.slug}/#{cat.id}/'): strong #{cat.titolo}
                    if cat.sottocategorie
                      each subcat in cat.sottocategorie
                        li: a(href='/category/#{subcat.slug}/#{subcat.id}/') #{subcat.titolo}


    script(src='/js/swipe.min.js')
    script(src='/js/main.js')
    