extends layout

block title
  | - Welcome

block appID
  - var appID = 'post'

block topspacer
  - var featImg = doc.get('post.featureImage').views.fullscreen.url || ''
  .page.page-full-image(style='background-image: url("#{featImg}");')
  .page.page-fixed-image

block app
  .page
    .container
      //-pre=JSON.stringify(doc,null,2)
      article

        h1=doc.getText('post.title')
        h3=doc.getText('post.excerpt')
        
        - var auths = doc.getAll('post.authors')[0]
        h5 di 
          if auths && auths.value.length > 0
            each author, authIndex in auths.value
              a(href=ctx.linkResolver(author.getLink('Autore').document))
                strong=_.find(authors, {'id': author.getLink('Autore').id}).name
              if (authIndex !== (auths.value.length - 1))
                | , 
          else
            strong='GSO Company'

        .spacer-20

        .post
          !=doc.getStructuredText('post.content').asHtml(ctx.linkResolver)

        .spacer-20

        .meta
          .date=moment(doc.getDate('post.postDate')).format('DD/MM/YYYY')
          .reading-time=doc.getText('post.postReadingTime') + ' minuti'
          .categories
            - var cats = doc.getAll('post.categories')[0]
            if cats && cats.value.length > 0
              each category, catIndex in cats.value
                a(href=ctx.linkResolver(category.getLink('Categoria').document))
                  em=_.find(rawCategories, {'id': category.getLink('Categoria').id}).titolo
                if (catIndex !== (cats.value.length - 1))
                  | , 
            else
              em='Varie'

        .spacer-20

        .pure-g.related-ones
          if similars && similars.length > 0
            each post in similars
              div(class='pure-u-1 pure-u-md-1-#{similars.length}')
                a(href=ctx.linkResolver(post))
                  h4=post.getText('post.title')
          else
            .pure-u-1
              h4 Nessun post related


        .spacer-20


        //- !{doc.asHtml(ctx.linkResolver)}

