extends layout

block title
  | - Welcome

block appID
  - var appID = 'post'

block afterhead
  meta(property='og:title', content=doc.getText('post.title') + ' - Human Capital and More - GSO Company')
  meta(property='og:description', content=doc.getText('post.excerpt'))
  meta(property='og:image', content=doc.get('post.featureImage').views.social.url || '')

block topspacer
  - var featImg = doc.get('post.featureImage').views.fullscreen.url || ''
  - var pCategories = doc.getAll('post.categories')[0];
  
  .page.page-full-image(style='background-image: url("#{featImg}");')
  
    .social-container
      .container.post-container
        .post-social
          a(href='')
            img(src='/img/social-facebook.png', height='50', width='50')
          a(href='')
            img(src='/img/social-twitter.png', height='50', width='50')
          a(href='')
            img(src='/img/social-linkedin.png', height='50', width='50')
        .post-title
          p
            strong=doc.getText('post.title')

  .page.page-fixed-image

block app
  .page
    .container.post-container

      article
        .spacer-60
        
        h1=doc.getText('post.title')
        
        - var auths = doc.getAll('post.authors')[0]
        - var quotes = doc.getAll('post.quotes')[0]

        +printAuthor('postAll', auths)
        
        +printCategory('postAll', pCategories)
        
        .spacer-30
        
        p.reading-time
          i.icon.icon-clock
          span.mobile-hide tempo di lettura 
          - var rt = Math.ceil((readingTime(doc.getText('post.content')).time + 15000) / 1000 / 60)
          strong
            =rt
            =(rt > 1) ? ' minuti' : ' minuto'
        
        p.date
          i.icon.icon-calendar
          span.mobile-hide pubblicato il 
          strong=moment(doc.getDate('post.postDate')).format('DD MMMM YYYY')
        
        .spacer-20

  #post.page
    .container

      article
        .post
          
          !=doc.getStructuredText('post.content').asHtml(ctx.linkResolver)


          if quotes && quotes.value.length > 0
            - var randomQuote = _.sample(quotes.value);
            if randomQuote.get('quote')
              .spacer-40
              p.quote
                strong "
                =randomQuote.getText('quote')
                strong "

        .spacer-40

  if similars && similars.length > 0
    .page.page-light
      .container.post-container
        article.text-center
          hr
          .spacer-20
          h2 Altri articoli che ti potrebbero interessare...
          .spacer-40
          
    #lasts.page.page-light
      .container.post-container
        article
          .pure-g.related-ones
            each post in similars
              .pure-u-1.pure-u-md-1-3
                +printPost('postSimilar', post)


        .spacer-40


        //- !{doc.asHtml(ctx.linkResolver)}

