extends layout

block title
  | - Welcome

block appID
  - var appID = 'search'

//-block topspacer

block app
  h2#title

  if docs

    if docs.total_results_size > 0
      | #{docs.total_results_size} documents
    else
      | No documents found

    pre=JSON.stringify(docs, null, 2)

    ul#list

      each doc in docs.results
        if doc.type === 'post'
          include partials/search-post
        else if doc.type === 'autore'
          include partials/search-author
        else
          include partials/search-default

    if docs.prev_page
      a(href='/search?q=#{q}&page=#{docs.page - 1}') « Previous Page

    if docs.next_page
      a(href='/search?q=#{q}&page=#{docs.page + 1}') Next Page »


  else

    h1 Specify a search term