extends layout

block title
  | - Welcome

block appID
  - var appID = 'search'

//-block topspacer

block app
  h2#title

  if docs

    if docs.total_results_size > 0
      | #{docs.total_results_size} documents
    else
      | No documents found

    ul#list
      each doc in docs.results
        li
          a(href=ctx.linkResolver(doc)) #{doc.slug}


    if docs.prev_page
      a(href='/search?q=#{q}&page=#{docs.page - 1}') « Previous Page

    if docs.next_page
      a(href='/search?q=#{q}&page=#{docs.page + 1}') Next Page »


  else

    h1 Specify a search term