extends layout

block title
  | - Welcome

block appID
  - var appID = 'search'

//-block topspacer

block app
  .page
    .container

      if docs

        if docs.total_results_size === 0
          .alert
            h4 No documents found

        else

          each doc in docs.results
            .result(class='result-#{doc.type}')
              if doc.type === 'post'
                +printPost('searchResults', doc)
              else if doc.type === 'autore'
                +printAuthor('searchResults', doc)
              else
                pre=JSON.stringify(doc, null, 2)
            .spacer-20


          if (docs.prev_page || docs.next_page)
            .navi
              if docs.prev_page
                a(href='/search?q=#{q}&page=#{docs.page - 1}') « Previous Page

              if docs.next_page
                a(href='/search?q=#{q}&page=#{docs.page + 1}') Next Page »

      else

        .alert
          h4 Specificare delle parole chiave