mixin printAuthor (where, doc)

  case where



    when 'searchResults'
      a(href=ctx.linkResolver(doc))
        h1=doc.getText('autore.name')
        h3=doc.getText('autore.role')



    when 'postMeta'
      a(href=ctx.linkResolver(doc.document))
        strong=_.find(authors, {'id': doc.id}).name


    when 'postAll'
      p.authors di 
        if doc && doc.value.length > 0
          each author, authIndex in doc.value
            +printAuthor('postMeta', author.getLink('Autore'))
            if (authIndex !== (doc.value.length - 1))
              | ,
        else
          a
            strong='GSO Company'


    default
      pre(style='display:none;')=JSON.stringify(doc, null, 2)