mixin printAuthor (where, doc)

  case where



    when 'searchResults'
      if doc.get('autore.profilePic')
        - var pic = doc.get('autore.profilePic').views.avatar.url
        - var bgpic = doc.get('autore.profilePic').views.profile.url
        .author-avatar(style='background-image: url("#{bgpic}");')
          img(src=pic)
      
      .author-info
        label.badge=doc.getText('autore.role')
        h3
          a(href=ctx.linkResolver(doc))
            =doc.getText('autore.name')
          

    when 'postMeta'
      a(href=ctx.linkResolver(doc.document))
        strong=_.find(authors, {'id': doc.id}).name


    when 'postAll'
      p.authors di 
        if doc && doc.value.length > 0
          each author, authIndex in doc.value
            +printAuthor('postMeta', author.getLink('Autore'))
            if (authIndex !== (doc.value.length - 1))
              | , 
        else
          a
            strong='GSO Company'


    default
      pre(style='display:none;')=JSON.stringify(doc, null, 2)